/*
 * dts file for NAI ZynqMP 67G6
 *
 * (C) Copyright 2018, North Atlantics, Inc.
 *
 * NAI <nai@naii.com>
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

#include "zynqmp-67ppc2-base.dts"

/ {
	model = "ZynqMP 67ppc2";
	compatible = "nai,zynqmp-67ppc2", "xlnx,zynqmp";
};

&eeprom  {
	#address-cells = <1>;
	#size-cells = <1>;

	board_sn: board_sn@0 {
		reg = <0x0 0x14>;
	};

	eth_mac: eth_mac@20 {
		reg = <0x20 0x6>;
	};

	board_name: board_name@d0 {
		reg = <0xd0 0x6>;
        };
		board_revision: board_revision@e0 {
		reg = <0xe0 0x3>;
	};
};

